# Ignore the .env file
.env

# Python files and folders
__pycache__/
.pyc
.pyo

# Virtual environment
venv/
env/

# Configuration files and credentials
.env
secrets.json
config.yaml

# Log files and reports
logs/
reports/

#  Database files
database.db

# Python dependencies that can be regenerated with requirements.txt
.egg-info/
